body { margin: 0; padding: 0; }
canvas { width: 100%; height: 100% }

svg{
  padding-top:10px;
  margin:0;
}
#boxes div {
  background-color: rgba(255, 255, 255, .8);
  height:48vh
}
.d3 {
  background: url("/images/d3.jpg") repeat-x;
  background-size: auto 100%;
}
.threejs {
  background: url("/images/threejs.jpg") no-repeat;
  background-color: #000;
}
.hero {
  background: url("/images/mars2.jpg") no-repeat center center;
  background-size: cover;
  font-family: 'Nova Square';
  height:100%
   }
  .hero h1 {
    color: #000;
    font-family: 'Nova Square';
    font-size: 4.5rem;
    font-weight: 300;
    text-align: center;
    padding-bottom:2rem; }
  h1 .small {
    color: #fff;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }
  @media only screen and (min-width: 40.063em) {
    .hero h1 {
      text-align: left;
      font-size: 8rem; }
    h1 .small {
      text-align: left;
      font-size: 3.5rem; } }
